In [37]:
import pandas as pd
import numpy as np

In [38]:
pd.set_option('display.max_columns', None)

In [39]:
df = pd.read_csv('./OECD_social&civic_health_index_fil.csv')

In [40]:
df.head(40)

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,MEASURE,Measure,UNIT_MEASURE,Unit of measure,AGE,Age,SEX,Sex,EDUCATION_LEV,Education level,DOMAIN,Domain,TIME_PERIOD,Time period,OBS_VALUE,Observation value,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals,BASE_PER,Base period
0,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2010,NaN,0.000000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
1,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2011,NaN,0.000000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
2,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2012,NaN,0.217380,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
3,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2013,NaN,0.000000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
4,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2014,NaN,0.000000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
5,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2015,NaN,0.475110,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
6,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2016,NaN,0.434604,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
7,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2017,NaN,1.154785,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
8,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2018,NaN,0.067389,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
9,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2019,NaN,0.000000,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
10,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,NLD,Netherlands,3_4,Poor households without access to basic sanita...,PT_HH,Percentage of households,_T,Total,_T,Total,_T,Total,HSL_3,Housing,2020,NaN,0.188831,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
11,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2004,NaN,39.623548,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
12,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2005,NaN,39.616632,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
13,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2006,NaN,39.774144,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
14,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2007,NaN,38.162064,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
15,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2008,NaN,39.037442,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
16,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2009,NaN,38.614683,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
17,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2010,NaN,39.605857,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
18,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2011,NaN,36.564229,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
19,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2012,NaN,36.298530,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
20,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2013,NaN,36.599634,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
21,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2014,NaN,36.653176,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
22,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2015,NaN,37.176282,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
23,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2016,NaN,36.666667,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
24,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2017,NaN,34.617383,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
25,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2018,NaN,34.107311,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
26,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2019,NaN,32.480445,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
27,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2020,NaN,31.484752,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
28,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,KOR,Korea,2_2,Gender wage gap,PT_WG_SAL_M_MEDIAN,Percentage of the median wages of men,_T,Total,_T,Total,_T,Total,HSL_2,Work and job quality,2021,NaN,31.064839,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
29,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2006,NaN,93.304539,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
30,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2010,NaN,89.598531,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
31,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2011,NaN,89.522485,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
32,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2012,NaN,88.974170,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
33,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2013,NaN,88.290329,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
34,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2014,NaN,90.219402,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
35,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2015,NaN,92.342307,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
36,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2016,NaN,91.877383,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
37,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2017,NaN,88.093669,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
38,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2018,NaN,89.883419,NaN,A,Normal value,0,Units,2,Two,NaN,NaN
39,DATAFLOW,OECD.WISE.WDP:DSD_HSL@DF_HSL_CWB(1.0),Current well-being,I,SVK,Slovak Republic,7_1,Social support,PT_POP_Y_GE15,Percentage of population aged 15 years or over,_T,Total,_T,Total,_T,Total,HSL_7,Social connections,2019,NaN,91.771858,NaN,A,Normal value,0,Units,2,Two,NaN,NaN

In [41]:
df = df.drop(columns=['STRUCTURE_ID','STRUCTURE_NAME','ACTION','Age', 'AGE','SEX','Sex','EDUCATION_LEV','Education level','DOMAIN','Time period','Observation value','OBS_STATUS','Observation status','UNIT_MULT','Unit multiplier','DECIMALS','Decimals','BASE_PER','Base period','UNIT_MEASURE',"Unit of measure", "Domain", "MEASURE"])

In [42]:
df.head(40)

,STRUCTURE,REF_AREA,Reference area,Measure,TIME_PERIOD,OBS_VALUE
0,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2010,0.000000
1,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2011,0.000000
2,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2012,0.217380
3,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2013,0.000000
4,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2014,0.000000
5,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2015,0.475110
6,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2016,0.434604
7,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2017,1.154785
8,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2018,0.067389
9,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2019,0.000000
10,DATAFLOW,NLD,Netherlands,Poor households without access to basic sanita...,2020,0.188831
11,DATAFLOW,KOR,Korea,Gender wage gap,2004,39.623548
12,DATAFLOW,KOR,Korea,Gender wage gap,2005,39.616632
13,DATAFLOW,KOR,Korea,Gender wage gap,2006,39.774144
14,DATAFLOW,KOR,Korea,Gender wage gap,2007,38.162064
15,DATAFLOW,KOR,Korea,Gender wage gap,2008,39.037442
16,DATAFLOW,KOR,Korea,Gender wage gap,2009,38.614683
17,DATAFLOW,KOR,Korea,Gender wage gap,2010,39.605857
18,DATAFLOW,KOR,Korea,Gender wage gap,2011,36.564229
19,DATAFLOW,KOR,Korea,Gender wage gap,2012,36.298530
20,DATAFLOW,KOR,Korea,Gender wage gap,2013,36.599634
21,DATAFLOW,KOR,Korea,Gender wage gap,2014,36.653176
22,DATAFLOW,KOR,Korea,Gender wage gap,2015,37.176282
23,DATAFLOW,KOR,Korea,Gender wage gap,2016,36.666667
24,DATAFLOW,KOR,Korea,Gender wage gap,2017,34.617383
25,DATAFLOW,KOR,Korea,Gender wage gap,2018,34.107311
26,DATAFLOW,KOR,Korea,Gender wage gap,2019,32.480445
27,DATAFLOW,KOR,Korea,Gender wage gap,2020,31.484752
28,DATAFLOW,KOR,Korea,Gender wage gap,2021,31.064839
29,DATAFLOW,SVK,Slovak Republic,Social support,2006,93.304539
30,DATAFLOW,SVK,Slovak Republic,Social support,2010,89.598531
31,DATAFLOW,SVK,Slovak Republic,Social support,2011,89.522485
32,DATAFLOW,SVK,Slovak Republic,Social support,2012,88.974170
33,DATAFLOW,SVK,Slovak Republic,Social support,2013,88.290329
34,DATAFLOW,SVK,Slovak Republic,Social support,2014,90.219402
35,DATAFLOW,SVK,Slovak Republic,Social support,2015,92.342307
36,DATAFLOW,SVK,Slovak Republic,Social support,2016,91.877383
37,DATAFLOW,SVK,Slovak Republic,Social support,2017,88.093669
38,DATAFLOW,SVK,Slovak Republic,Social support,2018,89.883419
39,DATAFLOW,SVK,Slovak Republic,Social support,2019,91.771858

In [45]:
pivot_df = df.pivot_table(index=["REF_AREA", "Reference area", "TIME_PERIOD"],
                            columns= "Measure",
                            values="OBS_VALUE")
pivot_df.reset_index(inplace=True)

pivot_df.head()

Measure,REF_AREA,Reference area,TIME_PERIOD,Gender wage gap,Households with internet access at home,Poor households without access to basic sanitary facilities,Social support
0,AUS,Australia,2004,14.352941,NaN,NaN,NaN
1,AUS,Australia,2005,15.777778,28.3,NaN,NaN
2,AUS,Australia,2006,16.666667,43.0,NaN,96.670250
3,AUS,Australia,2007,15.400000,52.0,NaN,95.700469
4,AUS,Australia,2008,11.937378,62.0,NaN,94.188943

In [48]:
pivot_df.shape

(693, 7)

In [52]:
pivot_df = pivot_df[pivot_df['TIME_PERIOD'] > 2009]

In [53]:
pivot_df.head()

Measure,REF_AREA,Reference area,TIME_PERIOD,Gender wage gap,Households with internet access at home,Poor households without access to basic sanitary facilities,Social support
6,AUS,Australia,2010,14.042934,72.62,NaN,95.353709
7,AUS,Australia,2011,15.966387,NaN,NaN,96.661780
8,AUS,Australia,2012,13.750000,77.00,NaN,93.859693
9,AUS,Australia,2013,18.000000,NaN,NaN,92.723545
10,AUS,Australia,2014,15.773354,NaN,NaN,91.974377

In [54]:
pivot_df.isna().sum()

Measure
REF_AREA                                                         0
Reference area                                                   0
TIME_PERIOD                                                      0
Gender wage gap                                                171
Households with internet access at home                        102
Poor households without access to basic sanitary facilities    141
Social support                                                  15
dtype: int64

In [57]:
# filtered_df = pivot_df.dropna(subset=["Gender wage gap", "Households with internet access at home", "Poor households without access to basic sanitary facilities", "Social support"])

# filtered_df["Reference area"].unique()

In [60]:

nan_counts = pivot_df[pivot_df.isna().any(axis=1)].groupby("Reference area").size()

sorted_countries = nan_counts.sort_values()

print(sorted_countries)

Reference area
Denmark             1
Austria             1
Hungary             1
Slovak Republic     1
Finland             1
Belgium             2
Sweden              2
Czechia             2
United Kingdom      3
Korea               4
Norway              4
Germany             4
United States       5
Poland              6
Portugal            7
Netherlands         7
Mexico              7
Spain               8
Lithuania           8
Italy               8
Greece              8
Ireland             9
Latvia              9
Türkiye             9
France              9
Estonia             9
Chile               9
Slovenia            9
Luxembourg         10
Switzerland        10
Japan              12
Brazil             12
Canada             12
Costa Rica         12
Colombia           12
Israel             12
New Zealand        12
Iceland            12
South Africa       12
Australia          12
dtype: int64

In [63]:
pivot_df.to_csv('social_test.csv', encoding='utf-8', index=False)

Australia,Chile, Colombia, Cost Rica, Spain, Estonia, France, Greece, Ireland, Iceland, Israel, Italy, Japan, Lithuania, Luxembourg, Latvia, New Zeland, Slovenia, South Africaa

In [65]:
area = ["Denmark","Austria","Hungary","Slovak Republic","Finland","Belgium","Sweden","Czechia","United Kingdom","Korea","Norway","Germany","United States"]

pivot_df = pivot_df[pivot_df['Reference area'].isin(area) ]

In [67]:
pivot_df.head(20)

Measure,REF_AREA,Reference area,TIME_PERIOD,Gender wage gap,Households with internet access at home,Poor households without access to basic sanitary facilities,Social support
24,AUT,Austria,2010,19.188863,63.7002,5.477113,94.573729
25,AUT,Austria,2011,18.550554,71.9837,4.103295,93.327370
26,AUT,Austria,2012,18.185057,77.4086,3.384494,93.753634
27,AUT,Austria,2013,18.053211,79.7862,2.131753,94.795705
28,AUT,Austria,2014,17.728884,79.3764,3.738199,89.394312
29,AUT,Austria,2015,17.043253,80.9113,3.969765,92.519776
30,AUT,Austria,2016,15.670900,85.0929,3.907601,92.631860
31,AUT,Austria,2017,15.382154,88.3804,2.132074,90.176468
32,AUT,Austria,2018,14.876691,87.6856,3.968448,90.564838
33,AUT,Austria,2019,14.011741,89.3345,1.751697,95.564168
34,AUT,Austria,2020,12.381540,89.2893,2.936750,92.339858
35,AUT,Austria,2021,NaN,91.0090,NaN,86.215856
42,BEL,Belgium,2010,7.043796,69.9525,1.902901,92.604879
43,BEL,Belgium,2011,5.838109,74.0032,6.160075,93.610844
44,BEL,Belgium,2012,6.411150,74.6965,4.455471,92.440102
45,BEL,Belgium,2013,5.912863,78.6488,6.296275,90.624392
46,BEL,Belgium,2014,3.298900,81.4769,6.776918,94.305599
47,BEL,Belgium,2015,4.672000,79.2224,6.921011,88.400245
48,BEL,Belgium,2016,3.701299,82.4122,5.366029,92.527925
49,BEL,Belgium,2017,4.190296,84.2533,3.585429,92.008250